.sortBar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gliders {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 940px;
  //align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  //padding: 0 400px;
  box-sizing: border-box;
}
