.sortBar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
